body {
  margin: 20px;
  background-color:
}
   
.navbar {
    display: flex;   
    list-style: none;     
    gap: 20px;            
    padding: 0;
    margin: 0;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}